<html>
<head>
    <title> Transparent Login Form Design </title>
     
    <link rel="stylesheet" type="text/css" href="style.css"> 
</head>
    <body>
<p>hello</p>
    <div class="login-box">
    <img src="avatar.png" class="avatar">
        <h1>Parkinson Disease Predictor</h1>
            <form action="" method="post">
            <p>Vgrf Left_1</p>
            <input type="text" name="vl1" placeholder="Enter Force value">
            <p>Vgrf Left_2</p>
            <input type="text" name="vl2" placeholder="Enter Force value">
            
            <p>Vgrf Left_3</p>
            <input type="text" name="vl3" placeholder="Enter Force value">
            <p>Vgrf Left_4</p>
            <input type="text" name="vl4" placeholder="Enter Force value">
            <p>Vgrf Right_1</p>
            <input type="text" name="vr1" placeholder="Enter Force Value">
            <p>Vgrf Right_2</p>
            <input type="text" name="vr2" placeholder="Enter Force Value">
            <p>Vgrf Right_3</p>
            <input type="text" name="vr3" placeholder="Enter Force Value">
            <p>Vgrf Right_4</p>
            <input type="text" name="vr4" placeholder="Enter Force Value">
            <input type="submit" name="submit" value="Predict">   
            </form>
        
        
        </div>
     
    </body>
</html>